body{
    display:-webkit-box;
    -webkit-box-pack:center;  
    margin-top: 100px;  
}
.outterbox{
    height: 400px;
    box-shadow: 5px 5px 6px #4e4444 ;
    background-color: #d36969;
    min-width:500px;
}
header{
    font: bold 20px Tahoma;
    color: #e0b8b8;

}
h2{
    text-align: center;
}
select {
    width: 300px;;
    height: 35px;
    background-color: rgb(218, 205, 180);
    font-style: italic;
    font-size: 15px;
}
option{
    color: rgb(0, 0, 0);
    max-width: 100px;
}
.innerbox{
    margin-left: 40px;
}
td{
    font-size: 20px;
    font-style: italic;
}
.tabled{
    padding-right: 50px;
    padding-bottom: 20px;
}
input{
    width: 150px; 
    height: 25px;
    background-color: rgb(161, 146, 127);
    color: rgb(255, 255, 255);
    font-size: 18px; 
}
input[type=submit]{
    height: 35px;
    width: 100px;
    background-color: #8b6666;
    color: rgb(19, 26, 19);
    font-weight: bold;
}